*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
}

.sideBar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
}

.sideBar .logo img{
    width: 130px;
}

.sideBar .menu-navegacao ul{
    list-style: none;
    margin-top: 20px;
}

.sideBar .menu-navegacao ul li{
    padding: 10px 0px;
}

.sideBar .menu-navegacao ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}



.sideBar .menu-navegacao ul li a:hover,
.sideBar .menu-navegacao ul li a:active,
.sideBar .menu-navegacao ul li a:focus{
    color: #fff;
    transition: 0.6s;
}
.sideBar .menu-navegacao ul li a:hover .fa,
.sideBar .menu-navegacao ul li a:active .fa,
.sideBar .menu-navegacao ul li a:focus .fa{
    color: #b3b3b3;
}

.sideBar .menu-navegacao ul li .fa{
    font-size: 20px;
    margin-right: 10px;
}

.sideBar .menu-navegacao ul li a:hover .fa:hover,
.sideBar .menu-navegacao ul li a:active .fa:active,
.sideBar .menu-navegacao ul li a:focus .fa:focus{
    color: #fff;
}

.cookies-politicas{
    position: absolute;
    bottom: 100px;
}
.sideBar .cookies-politicas ul{
    list-style: none;
}
.sideBar .cookies-politicas ul li{
    padding-bottom: 5px;
}
.sideBar .cookies-politicas ul li a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sideBar .cookies-politicas ul li a:hover,
.sideBar .cookies-politicas ul li a:active,
.sideBar .cookies-politicas ul li a:focus{
    text-decoration: underline;
}

.main-container{
    margin-left: 245px;
    margin-bottom: 100px;
}
.topBar{
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 14px 30px;
}

.topBar .btn-anterior-proximo button{
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
    margin-top: 6px;
}

.topBar .navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 8px;
    width: 220px;
    text-align: center;
}
.topBar .navBar a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}
.topBar .navBar  a:hover,
.topBar .navBar  a:active,
.topBar .navBar  a:focus{
    color: #fff;
    font-size: 14.5px;
}

.topBar .navBar button{
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 28px;
    border: 0px;
    cursor: pointer;
    border-radius: 40px;
}
.topBar .navBar button:hover,
.topBar .navBar button:active,
.topBar .navBar button:focus{
    font-size: 16.8px;
}

    
